server {
    listen 443 ssl;
    server_name {{ platform_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ platform_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ platform_domain }}/privkey.pem;

    location /api/ {
        proxy_pass http://127.0.0.1:8001;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        root {{ platform_dir }}/frontend/dist;
        try_files $uri $uri/ /index.html;
    }
}
